.wrapper {
  margin-left: 4em;
  padding-left: 1em;
}

.header {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 0.2em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

.comment {
  margin-block-start: 0;
}

.hover:hover {
  color: #1890ff;
  cursor: pointer;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.em {
  font-weight: 600;
}
